html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body    {
    box-sizing: inherit;
    margin: inherit;
    width: inherit;
    height: inherit;
}

a   {
    color: inherit;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.h-box  {
    background-attachment: scroll;
    height: 100px;
    background-color: #4387fd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-elements {
    font-size: 30px;
    font-style: oblique;
    color: aliceblue;
}

main    {
    position: absolute;
    top: 25%;
    left: 5%;
    right: 5%;
}

.m-box  {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200%;
    overflow: hidden;
}

.m-box-middle {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

#right-line   {
    border-right: 5px solid #474747;
}

.icon-choice   {
    font-size: 60px;
}

#scissors-icon:hover, #rock-icon:hover, #paper-icon:hover {
    color: #ff8c40;
}

#decision-player, #decision-cpu {
    padding: 15px 15px;
    height: 100px;
    width: 100px;
    transition: background-color 0.7s;
    background-color: #FFFFFF;
}

#decision-player:hover  {
    /*background-color: #f08080;*/

    background-color: #90ee90;
}

.decision   {
    margin-top: 5px;
    width: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-top: 5px solid #474747;
    padding-top: 70px;

}

footer  {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #474747;
    color: aliceblue;
    font-size: 13px;
    height: 40px;
}

#icon-size  {
    font-size: 25px;
    padding-left: 1%;
    padding-right: 1%;
}